{% extends 'base.html' %}

{% block content %}
<h2>Patients</h2>

<a class="btn btn-success mb-3" href="{% url 'patient_create' %}">
    <i class="fa fa-plus"></i> Add Patient
</a>

<table class="table table-striped table-bordered">
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Actions</th>
    </tr>

    {% for p in patients %}
    <tr>
        <td>{{ p.first_name }} {{ p.last_name }}</td>
        <td>{{ p.phone }}</td>
        <td>
            <a class="btn btn-primary btn-sm" href="{% url 'patient_detail' p.id %}">
                View
            </a>
            <a class="btn btn-warning btn-sm" href="{% url 'patient_edit' p.id %}">
                Edit
            </a>
            <a class="btn btn-danger btn-sm" href="{% url 'patient_delete' p.id %}">
                Delete
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
